body {
  background-color: #f5f4f2 !important;
}

.error {
  color: red;
}

.text-align-left {
  text-align: left;
}

.fs-7 {
  font-size: 0.75rem !important;
}

a.active {
  background-color: cornflowerblue;
  color: white !important;
  border-radius: 5px !important;
}